root = true

[*]
charset = utf-8
insert_final_newline = true

[*.{sln,cs}]
# VS defaults to utf-8 with BOM -- let's not create more merge conflicts
# XXX: csproj files dont't have a BOM for some reason?
charset = utf-8-bom

[*.cs]
indent_style = space
indent_size = 4
csharp_prefer_braces = when_multiline:warning
csharp_indent_case_contents_when_block = false
# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

[*.{html,xml,csproj}]
indent_style = space
indent_size = 2

[*.{sh,ps1}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.{js,json}]
indent_style = space
indent_size = 2

[*.lua]
indent_style = space
indent_size = 2
