[submodule "Libraries/moonsharp"]
	path = Libraries/moonsharp
	url = https://github.com/evilfactory/moonsharp.git
[submodule "luacs-docs/lua/libs/ldoc"]
	path = luacs-docs/lua/libs/ldoc
	url = https://github.com/evilfactory/LDoc.git
