# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      target:
        required: true
        type: string

env:
  CI_DIR: 717a3c49-f5dc-42eb-b332-fcf2988d00e3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          ref: ${{ inputs.target }}
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3 # v4.0.0
        with:
          dotnet-version: |
            6.0.x

      - name: Run deploy script
        run: |
          set -e
          shopt -s globstar nullglob
          shopt -u dotglob
          cd Deploy
          git apply < ./patches/disable-interactivity.diff
          git apply < ./patches/prevent-crash-on-missing-dir.diff
          ./DeployAll.sh

      - name: Create tarball
        run: |
          mkdir -p "$CI_DIR"
          tar -czf "$CI_DIR/build.tar.gz" -C Deploy/bin/content .

      - name: Upload tarball
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: build
          path: ${{ env.CI_DIR }}/build.tar.gz
