# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Run tests

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.target }}
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3 # v4.0.0
        with:
          dotnet-version: |
            6.0.x

      - name: Initialize environment
        run: |
          mkdir -p ~/".local/share/Daedalic Entertainment GmbH/Barotrauma"

      - name: Run tests
        continue-on-error: true
        run: |
          set +e
          dotnet test LinuxSolution.sln -clp:"ErrorsOnly;Summary" --logger "trx;LogFileName=$PWD/test-results.trx"
          echo "EXITCODE=$?" >> "$GITHUB_ENV"

      - name: Upload test results
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: test-results
          path: test-results.trx

      - name: Set exit code
        run: exit "$EXITCODE"
